/* 字体图标 样式*/
@import url("https://at.alicdn.com/t/c/font_4603406_sqihubjhmns.css");

/* --------通用默认样式------- */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 0;
}

/* 先不考虑使用通配符性能影响 */
*, *:before, *:after {
    box-sizing: inherit;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

table {
    border-collapse: collapse;
}

/* 清除浮动 和外边距合并 */
.clear-after::after {
    content: "1"; /* 不能为空 */
    display: block;
    font-size: 0;
    clear: both;
}

.clear-before::before {
    content: "1"; /* 不能为空 */
    display: block;
    font-size: 0;
    clear: both;
}

/* ^^^^上面是^^^^^通用默认样式^^^^^^^^^ */