:root {
    --main-width: 1226px;
}

#app {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
}

.top {
    /*width: 100%;*/
    background-color: #333333;
}

.nav {
    margin: 0 auto;
    width: var(--main-width);
}

.nav ul {
    display: inline-block;
}

.nav ul:last-of-type {
    float: right;
}

.nav ul li {
    display: inline-block;
    height: 40px;
    font-size: 12px;
}

.nav ul li::after {
    content: "|";
    color: white;
    opacity: 0.05;
}

.nav ul li:last-of-type::after {
    content: "";
    display: none;
}

.nav ul li a {
    padding: 0 8px;
    display: inline-block;
    color: rgba(255, 255, 255, 0.5);
    line-height: 40px;
}

.nav ul li a:hover {
    color: white;
}

.nav ul:last-of-type li:nth-last-of-type(2) {
    margin-right: 15px;
}

.nav ul:last-of-type li:nth-last-of-type(2):after {
    content: "";
    display: none;
}

.nav ul li.car a:hover {
    background-color: white;
    color: rgba(255, 0, 0, 0.7);
}

.nav ul li.car a i.i-car {
    position: relative;
    top: 1px;
    left: -2px;
    font-size: 15px;
    margin-top: 10px;
}

.nav ul li.car {
    position: relative;
    z-index: 30;
}

.nav ul li.car a div.car-list {
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 0;
    width: 316px;
    height: 0;
    line-height: 0;
    padding: 0 10px;
    text-align: center;
    background-color: white;
    color: rgba(0, 0, 0, 0.8);
    box-shadow: -5px 5px 10px -4px rgba(0, 0, 0, 0.15), 5px 5px 10px -4px rgba(0, 0, 0, 0.15);
    /*box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);*/
}

.nav ul li.car a:hover div.car-list {
    visibility: visible;
    height: 100px;
    line-height: 100px;
    transition: height 0.2s;
}

.second {
    position: relative;
}

.clearfix::after {
    content: "";
    clear: both;
    height: 0;
    display: block;
}

.header {
    margin: 0 auto;
    width: var(--main-width);
    text-align: right;
    white-space: nowrap;
}

.header a.logo {
    float: left;
    display: inline-block;
    height: 55px;
    width: 55px;
    margin: 22px 0 0 10px;
    background: url("https://resource.lwrong.com/public/img/xiaomi/logo-mi.png") 0 0/100% no-repeat;
    background-clip: border-box;
    overflow: hidden;
    padding-top: 55px;
}

.header ul {
    float: right;
}

.header ul li {
    vertical-align: middle;
    display: inline-block;
}

.header ul li a {
    font-size: 16px;
    display: inline-block;
    line-height: 100px;
    padding: 0 10px;
    color: rgba(0, 0, 0, 0.8);
}

.header ul li > a:hover {
    color: rgba(255, 0, 0, 0.7);
}

.header ul li.detail {
    visibility: hidden;
    position: absolute;
    z-index: 10;
    height: 0;
    overflow: hidden;
    width: 100%;
    top: 100px;
    left: 0;
    border-top: 1px solid rgba(204, 204, 204, 0.5);
    box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.header ul li:not(:last-of-type):hover ~ li.detail {
    visibility: visible;
    height: 220px;
    transition: height .5s;
}

.header ul li.detail:hover {
    visibility: visible;
    height: 220px;
}

.header ul li.detail > div:first-child {
    width: var(--main-width);
    margin: 0 auto;
}

.header ul li.detail > div a {
    position: relative;
    margin: 30px 10px 20px 10px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;

}

.header ul li.detail > div a:not(:last-of-type):after {
    position: absolute;
    top: calc(50% - 20px);
    right: -10px;
    translate: 0 -50%;
    display: inline-block;
    content: "";
    width: 1px;
    height: 100px;
    border-right: 1px solid rgba(204, 204, 204, 0.5);
}

.header ul li.detail > div a img {
    width: 180px;
    height: 120px;
    margin: 0 0 10px 0;
    object-fit: cover;
    object-position: center center;
}

.header ul li.detail > div a div {
    display: block;
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    line-height: 20px;
    height: 20px;
}

.header ul li.detail > div a div:last-of-type {
    color: #fd6600;
}



.header li.search {
    position: relative;
    margin-left: 50px;
}

.header li.search input {
    vertical-align: middle;
    /*margin-left: 60px;*/
    padding-inline: 8px;;
    width: 250px;
    height: 44px;
    text-decoration: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
    outline-style: none;
    border-radius: 0;
}

.header li.search button {
    vertical-align: middle;
    font-size: 24px;
    width: 44px;;
    height: 44px;
    outline-style: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0;
    background-color: transparent;
    border-left: none;

}

.header li.search button:hover {
    background-color: #fd6900;
    border: 1px solid #fd6900;
    cursor: pointer;
}

.header li.search input:hover {
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.header li.search input:focus {
    border: 1px solid rgba(255, 0, 0, 0.7);
}

.header li.search input:focus ~ div.tips {
    visibility: visible;

}

.header ul li div.tips {
    white-space: initial;
    visibility: hidden;
    display: block;
    position: absolute;
    z-index: 20;
    width: 250px;
    /*height: 0;*/
    top: 44px;
    left: 0;
    text-align: left;
    border: 1px solid rgba(255, 0, 0, 0.7);
    border-top: none;
    background-color: white;
}

.header ul li div.tips ul li {
    font-size: 14px;
    line-height: 30px;
    width: 250px;
    text-indent: 10px;
}

.header li.search input:hover + button {
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-left: none;
}

.header li.search input:focus + button {
    border: 1px solid rgba(255, 0, 0, 0.7);
    border-left: none;
}