body {
    font-size: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header {
    width: 100%;
    display: flex;
    height: 60px;
    box-shadow: 0 1px 10px 0 #999999;
    /*background-color: #589edf;*/
    background: linear-gradient(to left bottom, rgba(255, 0, 0, 0.46), rgba(0, 0, 255, 0.48),
    rgba(255, 127, 80, 0.51), rgba(33, 113, 192, 0.48), #feb139);
    justify-content: center;
    box-sizing: border-box;
}


.header ul {
    display: flex;
    flex-wrap: nowrap;
}

.header ul li {
    display: inline-block;
}

.header ul li > a {
    padding: 0 20px;
    line-height: 60px;
    display: inline-block;

    &:hover {
        background-color: #feb139;
    }
}

.header ul li.one {
    position: relative;

    &:hover ul.two {
        visibility: visible;
    }

    &:hover li a {
        font-size: initial;
    }

    &:hover li:nth-child(1) a {
        transition: font-size .2s;
    }

    &:hover li:nth-child(2) a {
        transition: font-size .3s;
    }

    &:hover li:nth-child(3) a {
        transition: font-size .4s;
    }

    &:hover li:nth-child(4) a {
        transition: font-size .5s;
    }
}


.header ul li .two {
    visibility: hidden;
    position: absolute;
    display: block;
    z-index: 6;
    box-shadow: 0 1px 10px 5px #90A1B444;

    & li:first-child {
        border-radius: 10px 10px 0 0;

        & a {
            border-radius: 10px 10px 0 0;

        }
    }

    & li:last-child {
        border-radius: 0 0 10px 10px;

        & a {
            border-radius: 0 0 10px 10px;

        }
    }

    & li {
        width: 110%;
        margin-left: -5%;
        background-color: rgba(88, 158, 223, 0.56);
    }

    & li a {
        font-size: 5px;
        display: block;
        box-sizing: border-box;
        border-bottom: 1px solid rgba(128, 128, 128, 0.3);

        &:hover {
            background-color: #feb139;
        }
    }
}

.nav a, .header a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    font-size: initial;
    color: initial;
    text-decoration: none;
}

.nav ul, .header ul {
    list-style-type: none;
    padding-left: 0;
}

.container {
    display: flex;
}

.nav {
    height: 100vh;
    box-sizing: border-box;
    box-shadow: 0 1px 10px 0 #999999;
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0.46), rgba(0, 0, 255, 0.48), rgba(255, 127, 80, 0.51), rgba(33, 113, 192, 0.48), #feb139);
}

.main {
    margin: 2px 5px;
    flex: 1;
    height: calc(100vh - 60px);
    overflow-y: auto;
    box-shadow: 0 1px 10px 0 #999999 inset;
    /*background: linear-gradient(to  bottom, rgba(255, 0, 0, 0.46), rgba(0, 0, 255, 0.48), rgba(255, 127, 80, 0.51), rgba(33, 113, 192, 0.48), #feb139);*/
}

.content {
    height: calc(100vh - 80px);
    font-size: initial;
    margin: 5px;
    border: 5px outset transparent;
    border-radius: 8px;
    box-shadow: 0 1px 20px 0 rgba(105, 105, 105, 0.92);
}

.content #fid {
    width: 100%;
    height: 100%;
}

.nav ul li:hover ul.two {
    visibility: visible;
}

.nav ul li .two {
    visibility: hidden;
    position: absolute;
    margin-top: -50px;
    margin-left: 140px;
    z-index: 6;

    & li a {
        display: block;
        width: 100px;
        padding-left: 20px;
        background-color: rgba(226, 195, 129, 0.6);

        &:hover {
            background-color: #feb139;
        }
    }
}

.nav ul li > a {
    display: block;
    padding-left: 20px;
    width: 120px;
    line-height: 50px;
    /*box-sizing: border-box;*/
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);

    &:hover {
        background-color: #feb139;
    }
}